/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2019, 8:52:10 PM
    Author     : Phuong Ken
*/


.margin-top-10{
    margin-top: 10px;
}

.tableClass{
    background-color: #222d32;
    color: #b8c7ce;
}

.require{
    color: red;
}