<%-- 
    Document   : template
    Created on : May 26, 2019, 10:29:04 PM
    Author     : Phuong Ken
--%>

<%@tag language="java" pageEncoding="UTF-8" %>
<%@attribute name="title" required="true" rtexprvalue="true" %>
<%@attribute name="content" fragment="true" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>${title}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link href="../../ManagerStudent/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/jquery-jvectormap.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/_all-skins.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../ManagerStudent/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/css/table.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/css/basicTable.css" rel="stylesheet" type="text/css"/>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <c:if test="${userLogin == null}">
            <%
                response.sendRedirect("/ManagerStudent/login");
            %>
        </c:if>
        <c:if test="${userLogin != null}">
            <div class="wrapper">
                <header class="main-header">

                    <!-- Logo -->
                    <a href="index2.html" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>QL</b>SV</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>Quản lí </b>sinh viên</span>
                    </a>

                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="../../ManagerStudent/assets/images/avatar.jpg" alt="" class="user-image"/>
                                        <span class="hidden-xs">${userLogin.name}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-default btn-flat">Thông tin</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="logout" class="btn btn-default btn-flat">Đăng xuất</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </header>
                <!-- Left side column. contains the logo and sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="header">Chức năng</li>
                            <li><a href="/ManagerStudent/student/list"><i class="fa fa-circle-o text-red"></i> <span>Quản lí sinh viên</span></a></li>
                            <li><a href="/ManagerStudent/subjects/list"><i class="fa fa-circle-o text-yellow"></i> <span>Quản lí môn học</span></a></li>
                            <li><a href="/ManagerStudent/mark/list"><i class="fa fa-circle-o text-aqua"></i> <span>Quản lí điểm</span></a></li>
                            <li><a href="/ManagerStudent/user/list"><i class="fa fa-circle-o text-green"></i> <span>Quản lí tài khoản</span></a></li>
                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper mt-4">
                    <jsp:invoke fragment="content"></jsp:invoke>
                    </div>
                    <!-- /.content-wrapper -->

                    <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                            <b>Phiên bản</b> 1.1.1
                        </div>
                        <strong>Copyright &copy; 2019 <a href="https://kimchungditrachcity.com/">Phuong Ken</a>.</strong> 
                    </footer>

                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Create the tabs -->
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Home tab content -->
                            <div class="tab-pane" id="control-sidebar-home-tab">
                                <h3 class="control-sidebar-heading">Recent Activity</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                                <p>Will be 23 on April 24th</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="menu-icon fa fa-user bg-yellow"></i>

                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                                <p>New phone +1(800)555-1234</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                                <p>nora@example.com</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                                <p>Execution time 5 seconds</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.control-sidebar-menu -->

                                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h4 class="control-sidebar-subheading">
                                                Custom Template Design
                                                <span class="label label-danger pull-right">70%</span>
                                            </h4>

                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h4 class="control-sidebar-subheading">
                                                Update Resume
                                                <span class="label label-success pull-right">95%</span>
                                            </h4>

                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h4 class="control-sidebar-subheading">
                                                Laravel Integration
                                                <span class="label label-warning pull-right">50%</span>
                                            </h4>

                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h4 class="control-sidebar-subheading">
                                                Back End Framework
                                                <span class="label label-primary pull-right">68%</span>
                                            </h4>

                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.control-sidebar-menu -->

                            </div>
                            <!-- /.tab-pane -->

                            <!-- Settings tab content -->
                            <div class="tab-pane" id="control-sidebar-settings-tab">
                                <form method="post">
                                    <h3 class="control-sidebar-heading">General Settings</h3>

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Report panel usage
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>

                                        <p>
                                            Some information about this general settings option
                                        </p>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Allow mail redirect
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>

                                        <p>
                                            Other sets of options are available
                                        </p>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Expose author name in posts
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>

                                        <p>
                                            Allow the user to show his name in blog posts
                                        </p>
                                    </div>
                                    <!-- /.form-group -->

                                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Show me as online
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Turn off notifications
                                            <input type="checkbox" class="pull-right">
                                        </label>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Delete chat history
                                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                        </label>
                                    </div>
                                    <!-- /.form-group -->
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                    </aside>
                    <!-- /.control-sidebar -->
                    <!-- Add the sidebar's background. This div must be placed
                         immediately after the control sidebar -->
                    <div class="control-sidebar-bg"></div>

                </div>
                <script src="../../ManagerStudent/assets/js/bootstrap.min.js" type="text/javascript"></script>
                <script src="../../ManagerStudent/assets/js/jquery.min.js" type="text/javascript"></script>
                <script src="../../ManagerStudent/assets/js/jquery-ui.min.js" type="text/javascript"></script>
                <script src="../../ManagerStudent/assets/js/address.js" type="text/javascript"></script>
                <script src="../../ManagerStudent/assets/js/deleted.js" type="text/javascript"></script>
                <script src="../../assets/js/datatable.js" type="text/javascript"></script>
                <script src="../../assets/js/jqueryDataTable.js" type="text/javascript"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#datatable').dataTable();
                        $('.wysihtml5').wysihtml5();
                    });
                </script>

        </c:if>
    </body>
</html>
